In [2]:
import re
import pandas as pd

In [17]:
df = pd.read_csv("PAN Number Validation Dataset.csv")

In [18]:
df.head()

  Pan_Numbers
0  VGLOD3180G
1  PHOXD7232L
2  MGEPH6532A
3  JJCHK4574O
4  XTQIJ2330L

In [22]:
df.isna().sum()

Pan_Numbers    0
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9033 entries, 0 to 9032
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Pan_Numbers  9033 non-null   object
dtypes: object(1)
memory usage: 70.7+ KB

In [21]:
df.size

9033

In [24]:
df['Pan_Numbers'].str.isspace()

0       False
1       False
2       False
3       False
4       False
        ...
9028    False
9029    False
9030    False
9031    False
9032    False
Name: Pan_Numbers, Length: 9033, dtype: bool

In [26]:
df['Pan_Numbers'].str.islower()

0       False
1       False
2       False
3       False
4       False
        ...
9028    False
9029    False
9030    False
9031    False
9032    False
Name: Pan_Numbers, Length: 9033, dtype: bool

In [27]:
df['Pan_Numbers'].str.strip()

0       VGLOD3180G
1       PHOXD7232L
2       MGEPH6532A
3       JJCHK4574O
4       XTQIJ2330L
           ...
9028    ZMVA03025o
9029    TNGUY429!V
9030    SMMN33673g
9031    RLAI69795t
9032       YWY2482
Name: Pan_Numbers, Length: 9033, dtype: object

In [29]:
df['Pan_Numbers'].str.upper()

0       VGLOD3180G
1       PHOXD7232L
2       MGEPH6532A
3       JJCHK4574O
4       XTQIJ2330L
           ...
9028    ZMVA03025O
9029    TNGUY429!V
9030    SMMN33673G
9031    RLAI69795T
9032       YWY2482
Name: Pan_Numbers, Length: 9033, dtype: object

In [32]:
df['PAN_Number'] = df['Pan_Numbers'].replace('NAN', pd.NA)

In [33]:
df['PAN_Number']

0       VGLOD3180G
1       PHOXD7232L
2       MGEPH6532A
3       JJCHK4574O
4       XTQIJ2330L
           ...
9028    ZMVA03025o
9029    TNGUY429!V
9030    SMMN33673g
9031    RLAI69795t
9032       YWY2482
Name: PAN_Number, Length: 9033, dtype: object

In [34]:
pan_pattern = r'^[A-Z]{5}[0-9]{4}[A-Z]$'

In [35]:
def validating_pan(pan):
    if pd.isna(pan):
        return "Missing"

    if not re.match(pan_pattern,pan):
        return 'Invalid'

    for i in range(len(pan)-1):
        if pan[i]==pan[i+1]:
            return 'Invalid'

    if pan[:5]==''.join(chr(ord(pan[0])+i) for i in range(5)):
        return "Invalid"

    if pan[5:9] in ["0123", "1234", "2345", "3456", "4567", "5678", "6789"]:
        return "Invalid"

    return 'Valid'

In [37]:
df['PAN_status']= df['PAN_Number'].apply(validating_pan)

In [39]:
df.head()

  Pan_Numbers  PAN_Number PAN_status
0  VGLOD3180G  VGLOD3180G      Valid
1  PHOXD7232L  PHOXD7232L      Valid
2  MGEPH6532A  MGEPH6532A      Valid
3  JJCHK4574O  JJCHK4574O    Invalid
4  XTQIJ2330L  XTQIJ2330L    Invalid

In [44]:
summary = df['PAN_Number'].value_counts()

In [45]:
summary_df = summary.reset_index()
summary_df.columns = ['PAN_Status', 'Count']
summary_df

       PAN_Status  Count
0     JVPYR52307F      4
1      XVATX221!N      3
2         XTP0675      2
3      IPSLX475!I      2
4     BPWVM28815K      2
...           ...    ...
9020   FODB48373y      1
9021   GEOR54323x      1
9022      VGU2103      1
9023      WDB4409      1
9024   AGKF29504n      1

[9025 rows x 2 columns]

In [46]:
df.to_csv("validated_pan_data.csv", index=False)